<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.curiosity.blog.mapper.CommentMapper">
<insert id="insert" parameterType="Comment">
    insert into COMMENT(PARENT_ID,TYPE,COMMENTOR,CONTENT,GMT_CREATE,GMT_MODIFIED)values (#{parentId},#{type},#{commentor},#{content},#{gmtCreate},#{gmtModified});
</insert>
    <select id="selectByParentId" resultType="Comment">
    select * from COMMENT where PARENT_ID=#{parentId}
    </select>
</mapper>