<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.curiosity.blog.mapper.QuestionMapper">
    <insert id="create" parameterType="Question">
   insert  into QUESTION(TITLE,DESCRIPTION,GMT_CREATE,GMT_MODIFIED,CREATOR,TAG,VIEW_COUNT,COMMENT_COUNT)
         values(#{title},#{description},#{gmtCreate},#{gmtModified},#{creator},#{tag},#{viewCount},#{commentCount});
  </insert>
    <select id="list" resultType="Question">
        select * from QUESTION
        <where>
            <if test="tag!=null and tag!=''">
                tag like concat('%',#{tag},'%')
            </if>

        </where>
        order by GMT_CREATE desc limit #{page},#{size}
    </select>

    <select id="count" resultType="int">
             select count(1) from QUESTION
    </select>
    <select id="countUser" resultType="int">
             select count(1) from QUESTION where CREATOR=#{userId}
    </select>
    <select id="listUser" resultType="Question">
            select * from QUESTION where CREATOR=#{userId} limit #{page},#{size}
    </select>
    <select id="getById" resultType="Question">
            select * from QUESTION where ID=#{id}
    </select>
    <update id="updateViewCount" parameterType="Question">
    update   QUESTION  set QUESTION.VIEW_COUNT=VIEW_COUNT+1  where ID=#{id}
 </update>

    <update id="updataById" parameterType="Question">
    update QUESTION set TITLE=#{title},DESCRIPTION=#{description},GMT_MODIFIED=#{gmtModified},TAG=#{tag} where ID=#{id};
    </update>

    <update id="incCommenCount" parameterType="Question">
    update   QUESTION  set QUESTION.COMMENT_COUNT=COMMENT_COUNT+1  where ID=#{id}
 </update>

    <select id="selectRelated" parameterType="Question" resultType="Question">
        select * from QUESTION WHERE  TAG REGEXP #{tag} and id!=#{id};

    </select>

</mapper>