<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.curiosity.blog.mapper.UserMapper">
    <insert id="insert" parameterType="User">
   insert  into USER(name,account_id,token,GMT_CREATE,GMT_MODIFIED,AVATAR_URL)values(#{name},#{accountId},#{token},#{gmtCreate},#{gmtModify},#{avatarUrl});
  </insert>
    <select id="findByToken" parameterType="string" resultType="User">
    select * from USER where TOKEN=#{token};
  </select>

    <select id="findById" parameterType="long" resultType="User">
    select * from USER where ID=#{creator};
  </select>
    <select id="findByAccountId" parameterType="string" resultType="User">
    select * from USER where ACCOUNT_ID=#{accountId};
  </select>
    <update id="updata"  parameterType="User">
        update  USER set ACCOUNT_ID=#{accountId},NAME=#{name},TOKEN=#{token},GMT_MODIFIED=#{gmtModify},AVATAR_URL=#{avatarUrl} where  ID=#{id}
    </update>

    <select id=" findByListId" parameterType="list" resultType="User">
    select * from USER
    <where>
        id in
        <foreach collection="list" item="entity" separator="," open="(" close=")" index="index">
            #{entity}
        </foreach>

    </where>
  </select>

</mapper>