<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html">
    <title>Curiosity Blog</title>
    <script src="/js/jquery-3.5.1.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/blog.css">
    <style>
        div{
            margin: auto;
        }

    </style>
    <script src="/js/bootstrap.js" type="application/javascript"></script>


</head>
<body>


<div class="jumbotron">
    <h1>出错了 ! ! !</h1>
    <p th:text="${message}">服务器炸了，请稍后再试</p>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">回到主页</a></p>
</div>

</body>
</html>

